div{
    height: 450px;
    width: 350px;
    border: 1px solid;
}
table{
    height: 300px;
    width: 300px;
    border: 2px solid;
}
th{
    width: 25px;
    height: 25px;
    background-color: rgb(40, 209, 195);
}
td{
    width: 25px;
    height: 25px;
    background-color: white;
}
img{
    width: 25px;
    height: 25px;
}