.a{
    height: 650px;
    width: 620px;
    background-color: grey;
}
.b{
    height: 300px;
    width: 600px;
    position: static;
}
.c{
    height: 250px;
    width: 150px;
    background-color: aqua;
    position: relative;
    top: 50px;
    left: 50px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.h{
    font-size: 25px;
}
.p1{
    font-size: 10px;
}
.f{
    height: 25px;
    width: 100px;
    background-color: violet;
    font-size: 15px;
    padding-top: 5px ;
}
.d{
    height: 250px;
    width: 150px;
    background-color: aqua;
    position: relative;
    top: 50px;
    left: 70px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.img1{
    height: 50px;
    width: 50px;
}
.img2{
    height: 10px;
    width: 15px;
    display: inline-block;
}
p{
    display: inline-block;
    font-size: 10px;
}
.e{
    height: 250px;
    width: 150px;
    background-color: aqua;
    position: relative;
    top: 50px;
    left: 90px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}